body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.weatherDetails {
  position: absolute;
  top: 10%;
  width: 100vw;
  text-align: center;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.form {
  position: absolute;
  top: 30%;
  width: 100vw;
  margin: 0px 0px 20px 0px;
}

.bottom {
  bottom: 0%;
  top: unset;
}

form {
  display: flex;
  padding: 10px;
}

form > input, button {
  width: 100%;
}

.toggler {
  margin: 10px;
  position: absolute;
  right: 0%;
}

.header {
  text-align: center;
  background-color: #212529;
  color: #f8f9fa;
}

.weatherDegree {
  font-size: 20px;
}

.weatherFooter {
  
  display: flex;
  justify-content: space-between;
}

.weatherIcon {
  background-image: url('https://openweathermap.org/img/wn/10d@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

input {
  padding: 10px;
  font-size: inherit;
  border-radius: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  font-size: inherit;
  border-radius: 10px;
  border: none;
}

.weatherType {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.weatherFooter, .weatherDegree, .weatherType {
  margin-top: 50px;
}

.additionalDetails {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  margin: 0px 20px;
}

.additionalDetails > div {
  display: flex;
  justify-content: space-between;
}



.lightMode , .darkModeButton {
  background-color: #f8f9fa;
  color: #212529;
}

.darkMode, .lightModeButton {
  background-color: #212529;
  color: #f8f9fa;
}

input {
  border: 0.5px solid ;
  border-radius: 10px;
  color: #212529;
}

.darkModeText {
  border-color: #f8f9fa;
  background-color: #212529;
  color: #f8f9fa;
}

.lightModeText {
  border-color: #212529;
}




@media only screen and (min-width: 760px) and (max-width: 1020px) {
  .additionalDetails {
    max-width: 50vw;
    margin: 0px auto;
  }

  .form > form {
    display: flex;
    width: 50vw;
    margin: 0px auto;
  }

  .weatherDetails, p {
    font-size: 16px;  
  }

  .weatherDegree {
    font-size: 24px;
  }

  input, button {
    font-size: 16px;;
  }
}


@media only screen and (min-width: 1020px) {
  .additionalDetails {
    max-width: 50vw;
    margin: 0px auto;
  }

  .form > form {
    display: flex;
    width: 50vw;
    margin: 0px auto;
  }

  .weatherDetails, p {
    font-size: 18px;  
  }

  .weatherDegree {
    font-size: 28px;
  }

  input, button {
    font-size: 18px;
  }

}



